@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GnS</h1>
    <p class="lead">WIP: Enventual TCG.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Cards will be either Archtypes Spells or Items Players build a character and embark on adventures
        </p>
    </div>
    <div class="col-md-4">
        <h2>Progress So Far</h2>
        <p>This is an Admin-ish portal for creating pgame elements that can be added to the deck. The focus so far has been on pre building characters.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>